.container{
    display: block;
    justify-content: center;
    height: 400px;
    width: 400px;
    font-family: 'Times New Roman', Times, serif;

}
input{
    height: auto;
    font-size: large;
}
img{
    width: 100%;
    height: 150px;
}